name: Docker Image CI
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
    paths:
      - 'Containerfile'
      - 'docker-entrypoint.sh'
      - 'databases/*'
  
env:
  REGISTRY: docker.io
  USERNAME: pebenbow
  TARGET: "pebenbow/open-sql-docker"
  
jobs:
  build:
    environment: Dockerhub
    env:
      TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Create Fully Qualified Image Name
        run: |
          echo "IMAGE_NAME=${TEMP,,}" >>${GITHUB_ENV}
        env: 
          TEMP: '${{ env.REGISTRY }}/${{ env.TARGET }}'
      -
        name: Generate Image Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
      - 
        name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ env.TOKEN }}
      -
        name: Set up Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Containerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}